.mainTabButton {
  width: 100%;
  color: #1976d2;
  background-color: white;
  border: none;
  cursor: pointer;
  height: 50px;
  font-size: 20px;
}

.mainTabButton:hover {
  background-color: #c9e3ff;
}

.mainTabButtonSelected {
  width: 100%;
  color: #1976d2;
  background-color: white;
  border: none;
  height: 50px;
  font-size: 20px;
  border-bottom: 2px solid #1976d2;
}

.mainTabContainer {
  display: flex;
  justify-content: space-evenly;
}
