h3 {
  color: #1976d2;
  font-weight: 500;
}

button {
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 5px 10px;
  color: #1976d2;
  background-color: #bad8ff;
}
button:hover {
  background-color: white;
  cursor: pointer;
}

.imageGridText {
  padding: 15px;
}

.imageGridTextWrapper {
  text-align: right;
}

.arrangeGridContainerWrapper {
  max-height: 60vh;
  display: flex;
}

.gridWrapper {
  display: flex;
  flex-wrap: wrap;
}

.photoViewMainDiv {
  text-align: center;
  padding: 50px;
}

.dndContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.dndCard {
  border: 1px dashed gray;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  background-color: white;
  cursor: move;
  width: 30%;
  height: 10vw;
  margin: auto;
}

.imageCardWrapper {
  width: 31%;
  height: 30%;
  padding: 5px;
  margin: 5px;
  border: 3px solid white;
}

.imageCardWrapperSelected {
  width: 31%;
  height: 30%;
  padding: 5px;
  margin: 5px;
  border: 3px solid #1976d2;
}

.selectedPhotoWrapper {
  display: flex;
  flex-wrap: wrap;
}

.stepperContainer {
  margin-top: 30px;
  height: 65vh;
  overflow: auto;
}

.stepperDiscription {
  padding: 0px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.stepperButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
